<div class="container">
	<main class="event">
		<div class="event__box">
			<h1>{{event.title}}</h1>
			<img class="responsive-img" src="{{event.img}}" alt="{{event.title}}">

			<p class="price big">{{event.price}}</p>
		</div>
	</main>
</div>

