<footer class="page-footer ">
	<div class="container">
		<div class="row">
			<div class="col l6 m4 l6">
				<h5 class="white-text">Приложение для создания событий</h5>
				<p class="grey-text text-lighten-4">Здесь вы можете бесплатно размещать свои мероприятия</p>
			</div>
			<div class="col l4 offset-l2 m4 l3">
				<h5 class="white-text">Категории</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="/">Главная</a></li>
					<li><a class="grey-text text-lighten-3" href="/add">Создать своё событие</a></li>
					<li><a class="grey-text text-lighten-3" href="/events">События</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container center">
			© 2019 Pavel Zhernosek
			{{!--			<a class="grey-text text-lighten-4 right" href="">Terms of Service</a>--}}
		</div>
	</div>
</footer>